
body{
  background-color: white;
  padding:0;
  margin:0;
}
.header h1{
  margin-left:27px;
}

.nav ul{
  list-style: none;
  display: flex;
 
}

.header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;

}
.header-right{
  display: flex;
  margin-right: 5em;
  align-items: center;
}
.header-right a{
  padding-inline: 5px;
  font-size: 15px;
  text-decoration: none;
  color:black

}

.nav{
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  
}


 .nav ul li{
    font-size: 15px;
    padding-left: 8px;
    
    
}
.nav a{
  text-decoration: none;
  color:black
}
.search-input input{
 padding:8px;
 width:18em;
 border-radius: 10px;
 margin-right: 10px;
}


.card-image{
  width:100px;
  height:100px;
}

.card{
  width:18rem;
  margin: 2rem;
  cursor: pointer;
}

@media screen and (max-width:576px) {
 .search-input, nav ul{
  margin: auto;
  padding:10px;
 }
}